body {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.home-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.paragraph, .list {
    font-size: 20px;
    text-align: center;
}

.list {
    text-align: left;
}